@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    justify-content: center;
    gap: 100px;
    padding: 20px;
    position: relative;
    height: auto;
}

.login-section {
    width: 50%;
    padding-right: 40px;
    z-index: 2;
}

.illustration-section {
    width: 50%;
    position: relative;
    z-index: 0;
}


    .illustration-section img {
        width: 100%;
        object-fit: contain;
    }

.login-header h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.login-subheader {
    font-size: 14px;
    color: #2E414D;
    margin-bottom: 24px;
}

.form-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
    align-items: center;
    font-size: 14px;
}

.signin-google {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    border: 1px solid #51FAAA;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: background-color 0.2s;
}

    .signin-google:hover {
        background-color: #21262d;
    }

.google-icon {
    margin-right: 8px;
    width: 18px;
    height: 18px;
}

.form-label {
    display: block;
    font-size: 14px;
    color: #2E414D;
    margin-bottom: 8px;
}

.form-container {
    position: relative;
    margin-bottom: 16px;
    width: 100%;
}

.group-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.form-container select,
.form-container input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #30363d;
    border-radius: 6px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
}

    .form-container input:focus {
        background: #fff;
        color: #333;
    }

    .form-container span {
        font-size: 14px;
    }

.form-container input:hover {
    outline: 1px solid #00c853;
}

.form-container input:focus {
    outline: none;
    border-color: #58a6ff;
    box-shadow: 0 0 0 3px rgba(88, 166, 255, 0.3);
}

.terms {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    font-size: 14px;
    color: #2E414D;
    margin-right: 8px;
    margin-bottom: 20px;
}

    .terms a {
        color: #00c853;
        cursor: pointer;
        text-decoration: none;
    }

    .terms p {
        margin: 0;
    }

    .terms a:hover {
        text-decoration: underline;
    }

.remember-me {
    display: flex;
    align-items: center;
}

.forgot-password {
    color: #2E414D;
    text-decoration: none;
}

    .forgot-password:hover {
        text-decoration: underline;
    }

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #00c853;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 16px;
}

    .login-btn:hover {
        background-color: #00a844;
    }

.signup-text {
    font-size: 13px;
    color: #8b949e;
    text-align: center;
}

.signup-link {
    color: #00c853;
    text-decoration: none;
    font-weight: 500;
}

    .signup-link:hover {
        text-decoration: underline;
    }

/*SPINNER */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spinner-content {
    text-align: center;
}

.spinner-lg {
    width: 4rem;
    height: 4rem;
    border-width: 0.5rem;
}

.spinner-text {
    margin-top: 1rem;
    color: #ffffff;
    font-size: 1.1rem;
}


/*MODAL*/
.custom-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.custom-modal-content {
    background-color: #fff;
    margin: 15% auto;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: fadeIn 0.3s ease;
}

.custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #198754;
    color: white;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-modal-title {
    margin: 0;
    font-size: 18px;
}

.custom-modal-close {
    font-size: 22px;
    cursor: pointer;
}

.custom-modal-body {
    padding: 35px;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.modal-backdrop.fade {
    z-index: 0;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
